Builds/
Client/Source/Resources.h
common/JammerNetzPackages.capnp.h
common/JammerNetzPackages.capnp.c++
common/BinaryResources.h
common/resources/RandomNumbers.bin
Server/docker/buildmachine/juce-5.4.5-linux.zip
aws/.idea/
aws/venv/
projucer/JuceLibraryCode/
LinuxBuilds/
buildsClient/
buildsServer/
third_party/mathgl-2.4.4/
.idea/
Client/Source/sentry-config.h
upload_debug_info.bat
common/sentry-config.h
.sentry-native/
lookAndFeel/Resources.h
builds_ds/
build/
builds2019/
venv/
.vs/
builds2024/
.conan_venv/
builds24/
buildServer/
builds
builds-relwithdebinfo/
/builds-ninja
/RandomNumbers.bin
