Builds/
Client/Source/Resources.h
common/JammerNetzPackages.capnp.h
common/JammerNetzPackages.capnp.c++
common/BinaryResources.h
common/resources/RandomNumbers.bin
Server/docker/buildmachine/juce-5.4.5-linux.zip
aws/.idea/
aws/venv/
projucer/JuceLibraryCode/
LinuxBuilds/
buildsClient/
