[submodule "third_party/ff_meters"]
	path = third_party/ff_meters
	url = https://github.com/christofmuc/ff_meters.git
[submodule "third_party/Q"]
	path = third_party/Q
	url = https://github.com/cycfi/Q.git
[submodule "third_party/infra"]
	path = third_party/infra
	url = https://github.com/cycfi/infra.git
[submodule "third_party/capnproto"]
	path = third_party/capnproto
	url = https://github.com/capnproto/capnproto.git
[submodule "third_party/juce-cmake"]
	path = third_party/juce-cmake
	url = https://github.com/remymuller/juce-cmake.git
